body {
  font-family: sans-serif;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

main {
  max-width: 1120px;
  margin: 0 auto;
}

#title {
  text-align: center;
  background: #eee;
  padding: 2.5rem 1rem;
  font-size: 3.2rem;
  font-weight: 700;
}

#img-div {
  max-width: 80%;
  text-align: center;
  height: auto;
  margin: auto;
}

.top {
  display: inline-block;
  padding: 8px 10px;
  background: #34e;
  color: #fff;
  border-radius: 50%;
  font-weight: 600;
  text-decoration: none;
  transition: all .2s ease-in-out;
}

.top:hover { 
  transform: scale(1.1);
 }

footer {
  margin-top: 2rem;
  background-color: #333333;
  padding: 30px;
}

footer p {
  text-align: center;
  color: white;
}

@media (max-width: 500px) {
  body {
    margin: 0 1rem;
  }
  img {
    max-width: 85%;
    height: auto;
  }
}
